<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="WARN">

    <Appenders>   
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="[%t] %-5p | %-60c | %m (%F:%L)%n" />
        </Console>
        <File name="file" fileName="spif.logs">
            <PatternLayout pattern="[%t] %-5p | %-60c | %m (%F:%L)%n" />
        </File>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="stdout" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>

</Configuration>